@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap");
       * {
           
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: ;
        }

        body{
            background: -webkit-repeating-linear-gradient(-45deg, #A47864, #683924);
            height: 100vh;
            background-size: 400%;
        }

        .error-page{
            position: absolute;
            top: 10%;
            left: 17%;
            right: 17%;
            bottom: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        .error-page .content{
            max-width: 600px;
            text-align: center;
        }

        .content h1{
            font-size: 18vw;
            line-height: 1em;
            position: relative;
        }

        .content h1:after{
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            right: 0;
        }


        .content h4{
            margin-bottom: 20px;
            text-transform: uppercase;
            color:  #A47864;
            max-width: 600px;
            font-size: 2em;
            position: relative;
        }

        
        .content p{
            font-size: 1.2em;
            color: #0d0d0d;
        }

        .content .btns{
            margin: 25px 0;
            display: inline-flex;
        }

        .content .btns a{
            display: inline-block;
            margin: 0 10px;
            text-decoration: none;
            border: 2px solid  #683924;
            color: #683924;
            font-weight: 500;
            padding: 10px 25px;
            border-radius: 25px;
            text-transform: uppercase;
            transition: all 0.3s ease;
        }

        .content .btns a:hover{
            color: #fff;
            background: #683924;

        }